{% extends 'admins/index.html'%}
{% block title%}
<title>Wiki Married Admin | Dashboard</title>
{% endblock %}
{% block admin_content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>jsGrid</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">jsGrid</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">jsGrid</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body" style="overflow-x: auto;">
          <table class="table table-bordered" style="min-width: 500px;">
            <tr>
                <th>Blog Title</th>
                <th>Url Title</th>
                <th>Blog Author</th>
                <th>DOD</th>
                <th>Net Worth</th>
                <th>Height</th>
                <th>Married</th>
                <th>Blog Description</th>
                <th>Published Date</th>
                <th>File Name</th>
                <th>Categories</th>
                <th>Page Title</th>
                <th>Visitor</th>
                <th>Meta Keyword</th>
                <th>Meta Description</th>
                <th>Action</th>
            </tr>
            {% for b in blog%}
            <tr>
                <td>{{b.blog_title}}</td>
                <td>{{b.urltitle}}</td>
                <td>{{b.blog_author}}</td>
                <td>{{b.date_of_birth}}</td>
                <td>{{b.networth}}</td>
                <td>{{b.height}}</td>
                <td>{{b.married}}</td>
                <td>{{b.blog_description}}</td>
                <td>{{b.blog_published_date}}</td>
                <td>{{b.filename}}</td>
                <td>{{b.categories}}</td>
                <td>{{b.pagetitle}}</td>
                <td>{{b.visitor}}</td>
                <td>{{b.metakeyword}}</td>
                <td>{{b.metadescription}}</td>
                <td>
                    <i class="fas fa-pen-square" style="font-size: 30px;"></i>
                    &nbsp; 
                    <i class="fas fa-trash-alt fs-3" style="font-size: 30px;"></i>
                </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <script>
    $(function () {
      $("#jsGrid1").jsGrid({
          height: "100%",
          width: "100%",
   
          sorting: true,
          paging: true,
   
          data: db.clients,
   
          fields: [
              { name: "Name", type: "text", width: 150 },
              { name: "Age", type: "number", width: 50 },
              { name: "Address", type: "text", width: 200 },
              { name: "Country", type: "select", items: db.countries, valueField: "Id", textField: "Name" },
              { name: "Married", type: "checkbox", title: "Is Married" }
          ]
      });
    });
  </script>
{% endblock %}